<html>
<head>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 50px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Black-Scholes Model:Call Option</h1>
        <form action="/calculate/call" method="post">
            <label for="ticker">Stock Ticker:</label>
            <input type="string" step="any" name="ticker" required><br>
            <label for="X">Strike Price:</label>
            <input type="number" step="any" name="X" required> <br>
           <label for="T">Time to Expiration (in years from 1 to 365):</label>
            <input type="number" step="any" name="T" required><br>
            <input type="submit" value="Calculate">
        </form>
        
        <h1>Black-Scholes Model:Put Option</h1>
        <form action="/calculate/put" method="post">
            <label for="ticker">Stock Ticker:</label>
            <input type="string" step="any" name="ticker" required><br>
            <label for="X">Strike Price:</label>
            <input type="number" step="any" name="X" required> <br>
           <label for="T">Time to Expiration (in years from 1 to 365):</label>
            <input type="number" step="any" name="T" required><br>
            <input type="submit" value="Calculate">
        </form>
    </div>
</body>
</html>
